<h1>This is Lyrics app</h1>
<p>you can check your songs lyrics in with this app</p>


<ul class="nav nav-tabs">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Profile</a></li>
  <li><a href="#">Messages</a></li>
</ul>